@charset "UTF-8";
header {
  width: 100%;
  min-width: 1200px;
  height: 34px;
  background: #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
}

header a, header span {
  font-size: 12px;
  color: #666;
  line-height: 34px;
}

header .head_up {
  width: 1200px;
  height: 34px;
  margin: auto;
}

header .head_up p {
  float: left;
}

header .head_up p a img {
  display: inline-block;
}

header .head_up ul {
  height: 12px;
  float: left;
  margin-left: 32%;
}

header .head_up ul li {
  float: left;
  padding-left: 30px;
  height: 12px;
}

header .head_up ul li:nth-child(5) {
  margin-right: 30px;
  border-right: 1px solid #ccc;
}

header .head_up ul img {
  float: left;
  padding-top: 11px;
}

header .head_up span {
  display: block;
  margin-left: 30px;
  float: right;
}

/* 侧边 */
.cebian {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999;
}

.cebian img {
  padding: 20px;
}

.cebian .zixun {
  width: 56px;
  height: 76px;
  margin-top: 1px;
  background: #222222;
}

.cebian .zixun img {
  padding-bottom: 0;
  padding-top: 12px;
}

.cebian .zixun span {
  color: #fff;
  padding: 0 0 0 18px;
  font-size: 12px;
  line-height: 12px;
}

.cebian .erweima {
  width: 56px;
  height: 56px;
  margin-top: 1px;
  background: #222222;
}

.cebian .shang {
  width: 56px;
  height: 56px;
  margin-top: 1px;
  background: #222222;
}

.cebian .ma {
  width: 200px;
  height: 200px;
  position: fixed;
  right: 60px;
  top: 50%;
  z-index: 888;
  opacity: 0;
}

/*   main   */
main {
  min-width: 1200px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

main .head_down {
  height: 80px;
  background: #fff;
  padding: 0 74px;
}

main .head_down .logo {
  display: block;
  float: left;
  margin: auto;
  height: 80px;
}

main .head_down a {
  color: #666;
  display: block;
  font-size: 12px;
  float: left;
  line-height: 80px;
  margin: 0 20px;
}

main .head_down nav {
  height: 80px;
  float: left;
}

main .head_down nav li {
  height: 46px;
  margin: 17px 15px;
  float: left;
  position: relative;
}

main .head_down nav li a {
  font-size: 14px;
  color: #000;
  line-height: 46px;
  margin: 0;
}

main .head_down nav li .hot {
  clear: both;
  width: 33px;
  height: 21px;
  position: absolute;
  top: -10px;
  left: 25px;
}

main .head_down nav li:nth-child(1) a {
  color: #f83244;
  border-bottom: 2px solid #f83244;
}

main .head_down nav li:hover {
  border-bottom: 2px solid #f83244;
}

main .head_down nav li:hover a {
  color: #f83244;
}

main .head_down p {
  width: 180px;
  height: 40px;
  float: right;
  margin: 20px 0;
  background: #f5f5f5;
}

main .head_down p input {
  width: 180px;
  height: 40px;
  border: 0;
  background: #f5f5f5;
  font-size: 32px;
}

main .head_down .sousuo {
  width: 40px;
  height: 40px;
  float: right;
  margin: 20px 0;
  background: #f83244;
}

main .head_down .sousuo img {
  margin: 10px;
}

main .banner {
  height: 360px;
  padding: 0 74px;
  background: url(../img/banner1.jpg) no-repeat center;
}

main .banner nav {
  width: 210px;
  height: 360px;
  float: left;
  background: #333233;
  opacity: 0.8;
}

main .banner nav .list {
  line-height: 38px;
  padding: 0 12px;
}

main .banner nav .list img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

main .banner nav .list a {
  font-size: 16px;
  color: #fff;
}

main .banner nav .list span {
  display: inline-block;
  width: 90px;
  font-size: 12px;
  color: #c2c1c2;
  text-align: right;
}

main .banner nav .list:hover {
  background: rgba(255, 255, 255, 0.2);
}

main .zhunbei {
  width: 1200px;
  height: 180px;
}

main .zhunbei li {
  width: 20%;
  line-height: 180px;
  float: left;
  margin-top: 24px;
}

main .zhunbei li a {
  height: 180px;
}

main .zhunbei li a img {
  margin: auto;
  height: 100px;
}

main .zhunbei li a span {
  display: block;
  text-align: center;
  line-height: 40px;
}

main .zhunbei li:hover span {
  color: #f83244;
}

main .first {
  width: 1200px;
  height: 297px;
}

main .first .jiudian {
  width: 602px;
  height: 297px;
  margin-right: 12px;
  float: left;
  position: relative;
  background: url(../img/bg-a.png) no-repeat center;
  background-size: 100% 100%;
}

main .first .jiudian .dian {
  font-size: 22px;
  color: #fff;
  padding: 40px;
  font-weight: normal;
}

main .first .jiudian select {
  width: 166px;
  height: 64px;
  font-size: 16px;
  float: left;
  margin: auto;
  background: #fff;
  line-height: 64px;
  text-align: center;
  margin-right: 12px;
  padding: 0 10px;
}

main .first .jiudian .erji {
  margin-left: 40px;
}

main .first .jiudian .inquire {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  color: #f83244;
  text-align: center;
  background: #fff;
  border-radius: 64px;
  position: absolute;
  bottom: 25px;
  left: 221px;
}

main .first .qingtie {
  width: 240px;
  height: 297px;
  float: left;
  margin-right: 12px;
  position: relative;
  background: url(../img/bg-b.png);
  text-align: center;
}

main .first .qingtie h2 {
  line-height: 72px;
  margin-top: 40px;
  font-size: 30px;
  color: #fff;
}

main .first .qingtie .muban {
  color: #fff;
  font-size: 18px;
}

main .first .qingtie .muban span {
  color: #fff600;
}

main .first .qingtie .yulan {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  color: #f83244;
  text-align: center;
  background: #fff;
  border-radius: 64px;
  position: absolute;
  bottom: 25px;
  left: 40px;
}

main .first .tool {
  width: 334px;
  height: 297px;
  float: left;
  box-shadow: 0 4px 28px 0 rgba(102, 102, 102, 0.5);
}

main .first .tool h3 {
  color: #000;
  font-size: 22px;
  padding: 40px 0 30px 40px;
  font-weight: normal;
}

main .first .tool .renwu {
  height: 198px;
}

main .first .tool .renwu a {
  width: 30%;
  float: left;
  margin: auto;
}

main .first .tool .renwu a img {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}

main .first .tool .renwu a p {
  font-size: 12px;
  text-align: center;
  line-height: 54px;
}

main .first .tool .renwu a:hover {
  text-decoration: underline;
}

main .second {
  width: 1200px;
  height: 20px;
  margin: auto;
  margin: 30px 0 80px 74px;
  font-size: 12px;
}

main .second .city {
  border-right: 1px solid #000;
  float: left;
  width: 98px;
  height: 16px;
}

main .second .city .zuobiao {
  height: 16px;
  width: 14px;
  float: left;
}

main .second .city p {
  float: left;
  padding-left: 10px;
}

main .second a {
  font-size: 12px;
  color: #000;
  float: left;
  margin-left: 20px;
}

main .second a span {
  color: #333;
}

main .second a:hover {
  text-decoration: underline;
}

main .third {
  width: 1200px;
  height: 880px;
}

main .third h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

main .third .third_top figure {
  width: 386px;
  height: 355px;
  float: left;
  position: relative;
  margin: 50px 21px 60px 0;
}

main .third .third_top figure p {
  font-size: 18px;
  padding-left: 24px;
  line-height: 66px;
}

main .third .third_top figure .biao {
  font-size: 16px;
  color: #f83244;
  padding-left: 24px;
}

main .third .third_top figure .num {
  font-size: 22px;
  color: #f83244;
  font-weight: bolder;
}

main .third .third_top figure .present {
  font-size: 12px;
  color: #666;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

main .third .third_top figure .biaoqian {
  width: 80px;
  height: 32px;
  background: #111;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 14px;
  right: -10px;
  padding: 0;
}

main .third .third_top figure .you {
  width: 56px;
  height: 56px;
  background: #f83244;
  border-radius: 56px;
  position: absolute;
  bottom: -28px;
  left: 165px;
  padding: 0;
  opacity: 0;
}

main .third .third_top figure .you img {
  margin: auto;
  margin-top: 20px;
}

main .third .third_top figure img:hover {
  opacity: 0.8;
}

main .third .third_top .three {
  margin-right: 0;
}

main .third .third_top figure:hover {
  box-shadow: 0 4px 28px 0 rgba(102, 102, 102, 0.5);
}

main .third .third_top figure:hover .you {
  opacity: 1;
}

main .third .third_bottom div {
  width: 285px;
  height: 198px;
  margin-left: 20px;
  float: left;
  position: relative;
}

main .third .third_bottom div p {
  width: 218px;
  height: 70px;
  background: #fff;
  font-size: 14px;
  padding: 20px;
  position: absolute;
  left: 15px;
  bottom: -60px;
  box-shadow: 0 4px 5px 0 rgba(102, 102, 102, 0.5);
}

main .third .third_bottom div p span:nth-child(1) {
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 38px;
}

main .third .third_bottom div p span:nth-child(3) {
  font-size: 14px;
  display: block;
  color: #f83244;
  line-height: 28px;
  font-weight: bolder;
}

main .third .third_bottom .xia {
  margin: 0;
}

main .third .third_bottom div:hover img {
  opacity: 0.8;
}

main .third .third_bottom div:hover p {
  position: absolute;
  left: 15px;
  bottom: -50px;
  transition: 0.2s all linear;
}

main .third .third_bottom .aaa:hover {
  text-decoration: underline;
}

main .fourth {
  width: 1200px;
}

main .fourth h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
}

main .fourth .wangge {
  height: 358px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
}

main .fourth .wangge div {
  width: 238px;
  height: 178px;
  overflow: hidden;
}

main .fourth .wangge div img {
  width: 238px;
  height: 178px;
  object-fit: cover;
}

main .fourth .wangge div a {
  width: 238px;
  height: 178px;
  position: relative;
}

main .fourth .wangge div a p {
  width: 238px;
  height: 178px;
  font-size: 20px;
  color: #fff;
  line-height: 52px;
  background: #000;
  position: absolute;
  top: 125px;
  left: 0;
  opacity: 0.7;
  z-index: 10;
  padding-left: 20px;
}

main .fourth .wangge div a p em {
  display: block;
  height: 2px;
  width: 22px;
  border-bottom: 2px solid #fff;
}

main .fourth .wangge div a p span {
  display: block;
  font-size: 14px;
  line-height: 58px;
}

main .fourth .wangge div a:hover p {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  transition: 0.2s linear;
}

main .fourth .wangge .box {
  height: 358px;
  grid-row-start: span 2;
}

main .fourth .wangge .box .bian {
  height: 358px;
}

main .fourth .wangge .box a {
  width: 238px;
  height: 358px;
  position: relative;
}

main .fourth .wangge .box a p {
  width: 238px;
  height: 358px;
  font-size: 20px;
  color: #fff;
  line-height: 52px;
  background: #000;
  position: absolute;
  top: 365px;
  left: 0;
  opacity: 0.7;
  z-index: 10;
  padding-left: 20px;
}

main .fourth .wangge .box a p em {
  display: block;
  height: 2px;
  width: 22px;
  border-bottom: 2px solid #fff;
}

main .fourth .wangge .box a p span {
  display: block;
  font-size: 14px;
  line-height: 58px;
}

main .fourth .wangge .box a:hover p {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
}

main .fourth .diduan {
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #f83244;
  border-radius: 48px;
  margin: 60px auto;
  box-shadow: 0 15px 30px 0 rgba(248, 50, 68, 0.3);
}

main .fourth .diduan img {
  display: inline-block;
}

main .fifth {
  height: 948px;
  background: #999;
}

main .fifth h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding: 50px 0;
}

main .sixth {
  height: 390px;
  background: url(../img/main5bg.png) no-repeat top center;
}

main .sixth h2 {
  height: 138px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 138px;
  padding: 0 74px;
}

main .sixth .liucheng {
  width: 1200px;
  height: 250px;
  background: #fff;
  margin: auto;
  box-shadow: 0 4px 10px 0 rgba(102, 102, 102, 0.3);
  overflow: hidden;
}

main .sixth .liucheng a {
  font-size: 14px;
  color: #333;
  float: left;
  width: 12.5%;
  margin-top: 70px;
}

main .sixth .liucheng a p {
  width: 80px;
  height: 80px;
  margin: auto;
}

main .sixth .liucheng a .one {
  background: url(../img/icon1.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .two {
  background: url(../img/icon2.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .three {
  background: url(../img/icon3.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .four {
  background: url(../img/icon5.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .five {
  background: url(../img/icon6.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .six {
  background: url(../img/icon7.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .seven {
  background: url(../img/icon8.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a .eight {
  background: url(../img/icon9.png) no-repeat center;
  background-size: 32px 30px;
}

main .sixth .liucheng a span {
  display: block;
  text-align: center;
}

main .sixth .liucheng a i {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: #666;
  opacity: 0;
  text-align: center;
}

main .sixth .liucheng a:hover .one {
  border-radius: 80px;
  background: url(../img/icon1-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .two {
  border-radius: 80px;
  background: url(../img/icon2-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .three {
  border-radius: 80px;
  background: url(../img/icon3-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .four {
  border-radius: 80px;
  background: url(../img/icon5-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .five {
  border-radius: 80px;
  background: url(../img/icon6-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .six {
  border-radius: 80px;
  background: url(../img/icon7-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .seven {
  border-radius: 80px;
  background: url(../img/icon8-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover .eight {
  border-radius: 80px;
  background: url(../img/icon9-2.png) no-repeat center;
  background-size: 32px 30px;
  background-color: #f83244;
}

main .sixth .liucheng a:hover span {
  margin-top: 20px;
}

main .sixth .liucheng a:hover i {
  opacity: 1;
}

main .seventh {
  width: 1200px;
  height: 450px;
  margin: auto;
  margin-top: 30px;
}

main .seventh h2 {
  height: 138px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 138px;
  padding: 0 74px;
}

main .seventh .chengshi {
  height: 250px;
}

main .seventh .chengshi a {
  width: 224px;
  height: 220px;
  margin-left: 20px;
  float: left;
  position: relative;
}

main .seventh .chengshi a span {
  display: block;
  font-size: 18px;
  padding: 10px;
}

main .seventh .chengshi a .you {
  width: 56px;
  height: 56px;
  background: #f83244;
  border-radius: 56px;
  position: absolute;
  bottom: -28px;
  left: 84px;
  padding: 0;
  opacity: 0;
}

main .seventh .chengshi a .you img {
  margin: auto;
  margin-top: 20px;
}

main .seventh .chengshi a:nth-child(1) {
  margin: 0;
}

main .seventh .chengshi a:hover img {
  opacity: 0.8;
}

main .seventh .chengshi a:hover .you {
  opacity: 1;
}

main .seventh .city .city_a {
  border-right: 1px solid #000;
  float: left;
  width: 98px;
  height: 16px;
}

main .seventh .city .city_a .zuobiao {
  height: 16px;
  width: 14px;
  float: left;
}

main .seventh .city .city_a p {
  float: left;
  padding-left: 10px;
}

main .seventh .city a {
  font-size: 12px;
  color: #000;
  float: left;
  margin-left: 20px;
}

main .seventh .city a span {
  color: #333;
}

main .seventh .city a:hover {
  text-decoration: underline;
}

main .eighth {
  width: 1200px;
  height: 680px;
  margin: auto;
  margin-top: 32px;
  background: #fbfbfb;
}

main .eighth h2 {
  height: 88px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 88px;
  padding: 0 74px;
}

main .eighth .text {
  text-align: center;
  margin: auto;
  margin-bottom: 38px;
}

main .eighth .text a {
  display: inline;
  font-size: 14px;
}

main .eighth .pic {
  height: 345px;
}

main .eighth .pic div {
  width: 285px;
  height: 285px;
  margin-left: 20px;
  float: left;
  position: relative;
}

main .eighth .pic div p {
  width: 218px;
  height: 70px;
  background: #fff;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  left: 15px;
  bottom: -60px;
  box-shadow: 0 4px 5px 0 rgba(102, 102, 102, 0.3);
}

main .eighth .pic div p span:nth-child(1) {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}

main .eighth .pic div p span:nth-child(2) {
  display: block;
  height: 2px;
  width: 40px;
  border-bottom: 2px solid #f83244;
  margin-bottom: 5px;
}

main .eighth .pic div p a {
  display: inline;
  font-size: 12px;
  color: #333;
}

main .eighth .pic div p em {
  font-size: 12px;
  color: #333;
}

main .eighth .pic .xia {
  margin: 0;
}

main .eighth .pic div:hover img {
  opacity: 0.8;
}

main .eighth .pic p:hover {
  position: absolute;
  left: 15px;
  bottom: -50px;
  transition: 0.2s all linear;
}

main .eighth .pic .aaa:hover {
  text-decoration: underline;
}

main .eighth a {
  display: block;
}

main .eighth a .diduan_a {
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #f83244;
  border-radius: 48px;
  margin: 60px auto;
  box-shadow: 0 15px 30px 0 rgba(248, 50, 68, 0.3);
}

main .eighth a .diduan_a img {
  display: inline-block;
}

main .ninth {
  height: 1500px;
  background: url(../img/main8-bg.png) no-repeat top center;
  background-size: auto 1390px;
}

main .ninth .kuai {
  width: 1320px;
  height: 1390px;
  margin: auto;
}

main .ninth .kuai h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 152px;
  padding: 0 74px;
  color: #fff;
}

main .ninth .kuai .to {
  width: 1320px;
  margin: auto;
}

main .ninth .kuai .to .left {
  width: 660px;
  height: 510px;
  float: left;
}

main .ninth .kuai .to .left img {
  margin: 0;
}

main .ninth .kuai .to .right {
  position: relative;
  height: 390px;
  width: 660px;
  float: left;
  background: #111;
  margin-top: 120px;
}

main .ninth .kuai .to .right .an {
  float: left;
  padding: 60px 60px 0 0;
  opacity: 0.4;
}

main .ninth .kuai .to .right .h3 {
  display: block;
  font-size: 32px;
  font-weight: normal;
  line-height: 90px;
  color: #fff;
  padding-top: 60px;
}

main .ninth .kuai .to .right span {
  float: left;
  display: block;
  width: 200px;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  padding-right: 50px;
}

main .ninth .kuai .to .right .youjian {
  float: left;
  width: 56px;
  height: 56px;
  color: #fff;
  background: url(../img/youjiantou-baise.png) no-repeat center;
  background-color: #f83244;
  border-radius: 56px;
  margin: 60px auto;
}

main .ninth .kuai .to .right .h3:hover {
  text-decoration: underline;
}

main .ninth .kuai .to .right .youjian:hover {
  opacity: 0.5;
}

main .ninth .kuai .to .right .an:hover {
  opacity: 1;
}

main .ninth .kuai .to .right .sanjiao {
  width: 0;
  height: 0;
  border: 20px solid;
  position: absolute;
  top: 205px;
  left: 290px;
  border-color: transparent #111 transparent transparent;
}

main .ninth .kuai .mid {
  width: 1320px;
  margin: auto;
}

main .ninth .kuai .mid div {
  width: 330px;
  height: 330px;
  float: left;
  background: #222;
  position: relative;
}

main .ninth .kuai .mid div a {
  display: block;
  line-height: 330px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

main .ninth .kuai .mid div img {
  opacity: 0.4;
}

main .ninth .kuai .mid div a:hover {
  text-decoration: underline;
}

main .ninth .kuai .mid div img:hover {
  opacity: 1;
}

main .ninth .kuai .mid div .sanjiao_2 {
  width: 0;
  height: 0;
  position: absolute;
  top: 145px;
  left: 0;
}

main .ninth .kuai .do {
  width: 1320px;
  margin: auto;
}

main .ninth .kuai .do .left_a {
  height: 395px;
  width: 512px;
  float: left;
  background: #111;
  padding: 0 74px;
}

main .ninth .kuai .do .left_a .h3 {
  display: block;
  font-size: 32px;
  font-weight: normal;
  line-height: 90px;
  color: #fff;
  padding-top: 20px;
}

main .ninth .kuai .do .left_a span {
  display: block;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  padding-right: 50px;
}

main .ninth .kuai .do .left_a .youjian {
  display: block;
  width: 56px;
  height: 56px;
  color: #fff;
  background: url(../img/youjiantou-baise.png) no-repeat center;
  background-color: #f83244;
  border-radius: 56px;
  margin: 60px 0;
}

main .ninth .kuai .do .left_a .h3:hover {
  text-decoration: underline;
}

main .ninth .kuai .do .left_a .youjian:hover {
  opacity: 0.5;
}

main .ninth .kuai .do .left_a .remen {
  height: 46px;
  padding: 0;
  font-size: 12px;
  line-height: 46px;
  padding-top: 10px;
  margin-left: -74px;
}

main .ninth .kuai .do .left_a .remen .bbb {
  border-right: 1px solid #000;
  float: left;
  width: 98px;
  height: 16px;
  margin-top: 15px;
}

main .ninth .kuai .do .left_a .remen .bbb .bq {
  height: 16px;
  width: 14px;
  float: left;
}

main .ninth .kuai .do .left_a .remen .bbb p {
  float: left;
  padding-left: 10px;
  line-height: 16px;
}

main .ninth .kuai .do .left_a .remen a {
  font-size: 12px;
  color: #000;
  float: left;
  margin-left: 20px;
}

main .ninth .kuai .do .left_a .remen a span {
  color: #333;
}

main .ninth .kuai .do .left_a .remen a:hover {
  text-decoration: underline;
}

main .ninth .kuai .do .right_a {
  width: 660px;
  height: 440px;
  float: left;
  background-color: #111;
  background-size: 100% 100%;
  position: relative;
}

main .ninth .kuai .do .right_a img {
  width: 660px;
  height: 440px;
  opacity: 0.4;
}

main .ninth .kuai .do .right_a img:hover {
  opacity: 1;
}

main .ninth .kuai .do .right_a .sanjiao_3 {
  width: 0;
  height: 0;
  border: 20px solid;
  position: absolute;
  top: 145px;
  left: 0;
  border-color: transparent transparent transparent #111;
  z-index: 10;
}

main .ninth a {
  display: block;
}

main .ninth a .diduan_a {
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #f83244;
  border-radius: 48px;
  margin: 90px auto;
  box-shadow: 0 15px 30px 0 rgba(248, 50, 68, 0.3);
}

main .ninth a .diduan_a img {
  display: inline-block;
}

main .tenth {
  width: 1200px;
  margin: auto;
  height: 673px;
}

main .tenth h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin: 80px 0 50px 0;
}

main .tenth .box {
  width: 1200px;
  height: 430px;
  display: flex;
}

main .tenth .box .box1 {
  flex: 1;
  border: 1px solid #d8d8d8;
}

main .tenth .box .box1 .top {
  height: 64px;
  width: 300px;
  background: #f8f8f8;
  padding: 48px 50px;
  position: relative;
  text-align: center;
}

main .tenth .box .box1 .top p {
  width: 28px;
  height: 28px;
  background: url(../img/c-1.png);
  background-size: 100% 100%;
  position: absolute;
  top: 50px;
  left: 146px;
}

main .tenth .box .box1 .top .h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  margin-left: 45px;
  padding-bottom: 10px;
}

main .tenth .box .box1 .top a {
  font-size: 12px;
  color: #333;
}

main .tenth .box .box1 .top em {
  font-size: 12px;
  color: #dbd0d0;
}

main .tenth .box .box1 .top a:hover {
  text-decoration: underline;
}

main .tenth .box .box1 .top .h3:hover {
  text-decoration: none;
}

main .tenth .box .box1 .down {
  width: 340px;
  height: 280px;
  line-height: 38px;
  font-size: 12px;
  padding-top: 30px;
}

main .tenth .box .box1 .down a p {
  display: inline-block;
  width: 245px;
  margin: 0;
}

main .tenth .box .box1 .down a span {
  padding-left: 20px;
  display: inline-block;
  color: #666;
}

main .tenth .box .box1 .down a p:hover {
  color: #f83244;
}

main .tenth .box .box1 .youjiantou {
  display: block;
  width: 56px;
  height: 56px;
  color: #fff;
  background: url(../img/youjiantou-baise.png) no-repeat center;
  background-color: #f83244;
  border-radius: 56px;
  margin-top: -18px;
  opacity: 0;
}

main .tenth .box .box1:hover {
  transform: scale(1.1);
}

main .tenth .box .box1:hover .top {
  height: 44px;
  background: url(../img/c-1bg.png);
}

main .tenth .box .box1:hover .top p {
  background: url(../img/c-1h.png);
  background-size: 100% 100%;
}

main .tenth .box .box1:hover .top a,
main .tenth .box .box1:hover .top em {
  color: #fff;
}

main .tenth .box .box1:hover .youjiantou {
  opacity: 1;
}

main .tenth .box .box1:hover .youjiantou:hover {
  opacity: 0.5;
}

main .tenth .box .box2 {
  flex: 1;
  border: 1px solid #d8d8d8;
}

main .tenth .box .box2 .top {
  height: 64px;
  width: 300px;
  background: #f8f8f8;
  padding: 48px 50px;
  position: relative;
  text-align: center;
}

main .tenth .box .box2 .top p {
  width: 28px;
  height: 28px;
  background: url(../img/c-2.png);
  background-size: 100% 100%;
  position: absolute;
  top: 50px;
  left: 146px;
}

main .tenth .box .box2 .top .h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  margin-left: 45px;
  padding-bottom: 10px;
}

main .tenth .box .box2 .top a {
  font-size: 12px;
  color: #333;
}

main .tenth .box .box2 .top em {
  font-size: 12px;
  color: #dbd0d0;
}

main .tenth .box .box2 .top a:hover {
  text-decoration: underline;
}

main .tenth .box .box2 .top .h3:hover {
  text-decoration: none;
}

main .tenth .box .box2 .down {
  width: 340px;
  height: 280px;
  line-height: 38px;
  font-size: 12px;
  padding-top: 30px;
}

main .tenth .box .box2 .down a p {
  display: inline-block;
  width: 245px;
  margin: 0;
}

main .tenth .box .box2 .down a span {
  padding-left: 20px;
  display: inline-block;
  color: #666;
}

main .tenth .box .box2 .down a p:hover {
  color: #f83244;
}

main .tenth .box .box2 .youjiantou {
  display: block;
  width: 56px;
  height: 56px;
  color: #fff;
  background: url(../img/youjiantou-baise.png) no-repeat center;
  background-color: #f83244;
  border-radius: 56px;
  margin-top: -18px;
  opacity: 0;
}

main .tenth .box .box2 .youjiantou:hover {
  opacity: 0.5;
}

main .tenth .box .box2:hover {
  width: 430px;
  height: 460px;
}

main .tenth .box .box2:hover .top {
  height: 44px;
  background: url(../img/c-2bg.png);
}

main .tenth .box .box2:hover .top p {
  background: url(../img/c-2h.png);
  background-size: 100% 100%;
}

main .tenth .box .box2:hover .top a,
main .tenth .box .box2:hover .top em {
  color: #fff;
}

main .tenth .box .box2:hover .youjiantou {
  opacity: 1;
}

main .tenth .box .box2:hover .youjiantou:hover {
  opacity: 0.5;
}

main .tenth .box .box3 {
  flex: 1;
  border: 1px solid #d8d8d8;
}

main .tenth .box .box3 .top {
  height: 64px;
  width: 300px;
  background: #f8f8f8;
  padding: 48px 50px;
  position: relative;
  text-align: center;
}

main .tenth .box .box3 .top p {
  width: 28px;
  height: 28px;
  background: url(../img/c-3.png);
  background-size: 100% 100%;
  position: absolute;
  top: 50px;
  left: 146px;
}

main .tenth .box .box3 .top .h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  margin-left: 45px;
  padding-bottom: 10px;
}

main .tenth .box .box3 .top a {
  font-size: 12px;
  color: #333;
}

main .tenth .box .box3 .top em {
  font-size: 12px;
  color: #dbd0d0;
}

main .tenth .box .box3 .top a:hover {
  text-decoration: underline;
}

main .tenth .box .box3 .top .h3:hover {
  text-decoration: none;
}

main .tenth .box .box3 .down {
  width: 340px;
  height: 280px;
  line-height: 38px;
  font-size: 12px;
  padding-top: 30px;
}

main .tenth .box .box3 .down a p {
  display: inline-block;
  width: 245px;
  margin: 0;
}

main .tenth .box .box3 .down a span {
  padding-left: 20px;
  display: inline-block;
  color: #666;
}

main .tenth .box .box3 .down a p:hover {
  color: #f83244;
}

main .tenth .box .box3 .youjiantou {
  display: block;
  width: 56px;
  height: 56px;
  color: #fff;
  background: url(../img/youjiantou-baise.png) no-repeat center;
  background-color: #f83244;
  border-radius: 56px;
  margin-top: -18px;
  opacity: 0;
}

main .tenth .box .box3 .youjiantou:hover {
  opacity: 0.5;
}

main .tenth .box .box3:hover {
  width: 430px;
  height: 460px;
}

main .tenth .box .box3:hover .top {
  height: 44px;
  background: url(../img/c-3bg.png);
}

main .tenth .box .box3:hover .top p {
  background: url(../img/c-3h.png);
  background-size: 100% 100%;
}

main .tenth .box .box3:hover .top a,
main .tenth .box .box3:hover .top em {
  color: #fff;
}

main .tenth .box .box3:hover .youjiantou {
  opacity: 1;
}

main .tenth .box .box3:hover .youjiantou:hover {
  opacity: 0.5;
}

footer {
  height: 481px;
}

footer .f_top {
  height: 380px;
  background: #222;
}

footer .f_top a:hover {
  text-decoration: underline;
}

footer .f_top .up {
  height: 255px;
  width: 1200px;
  background: #222;
  border-bottom: 1px solid #ccc;
}

footer .f_top .up div {
  width: 160px;
  height: 100%;
  margin-right: 76px;
  float: left;
}

footer .f_top .up div h3 {
  font-size: 18px;
  margin-top: 36px;
  line-height: 42px;
  color: #fff;
}

footer .f_top .up div a {
  width: 80px;
  line-height: 30px;
  font-size: 12px;
  color: #ccc;
  float: left;
}

footer .f_top .up .shequ {
  width: 80px;
}

footer .f_top .up .right {
  width: 100px;
  margin: 0 0 0 40px;
}

footer .f_top .up .right a {
  width: 42px;
  height: 62px;
}

footer .f_top .up .right a .img {
  float: left;
  width: 32px;
  height: 32px;
  padding: 15px 5px;
}

footer .f_top .down {
  width: 1200px;
  height: 124px;
  margin-top: 30px;
}

footer .f_top .down span {
  padding-bottom: 30px;
  color: #fff;
  float: left;
  font-size: 12px;
  line-height: 30px;
}

footer .f_top .down a {
  margin-left: 18px;
  line-height: 30px;
  font-size: 12px;
  color: #ccc;
  float: left;
}

footer .f_bot {
  width: 100%;
  background: #1a1a1a;
  height: 101px;
}

footer .f_bot p {
  width: 550px;
  height: 56px;
  padding-top: 20px;
}

footer .f_bot p span {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
}

footer .f_bot p img {
  display: inline-block;
  width: 14px;
  height: 18px;
}
